README-SDL.txt
lib/sdl2-mingw64
*.o
*gnuboy
Makefile
*.gb
sdl2gnuboy
config.*
!config.h
!config.hpp
!config.c
!config.cpp
*.gbc
*.exe
*.dll
*.zip
*.sav
*.rtc
gnuboy.rc
.idea
*.bin
/assets
build/*
build2/*
saves/*
cmake-*
*.AppImage
